mat-toolbar {
  justify-content: space-around;
}

.container {

  height: 100%;
}
.content {
  padding: 10px;
  font-size:30px;
  background: linear-gradient(top, black, #F44336);
}

.card{
  opacity: 0.5;
  border: 1px solid black;
}

.card:hover{
  opacity: 2;
  cursor: pointer;
}

