.login__container {
    & mat-card{
      padding: 50px;
      height: 45%;
      border:solid 2px black;
      border-radius: 5px;
    }
    &--contain{
      padding: 40px;
    }
    &--message{
      text-align: center;
      margin-top: 10px;
      color:red;
      font-size:20px;
      margin-left:20px;
    }
}


.mat-form-field{
    width:50%;
    margin-left:20px;
}

.button__login{
    width: 50% !important;
    min-width: unset!important
  }


