<div  fxLayoutAlign="center center" fxFlexFill class="login__container">
  <img [style.width.%]="14" fxLayoutAlign="center center" src="./assets/arg.gif" alt="" class="">
  <mat-card fxFlex="25">
    <mat-toolbar fxLayoutAlign="center center" color="warn">Welcome to GeoRef </mat-toolbar>
    <div fxLayout="column" fxLayoutGap="20px 20px"  fxLayoutAlign="stretch" class="login__container--contain">
      <div  fxLayoutAlign="start center" fxLayoutGap="20px grid">
        <mat-icon>account_circle</mat-icon>
        <mat-form-field color="warn">
            <input matInput type="text" [(ngModel)]="dataLogin.username" placeholder="usuario" required
              (keyup.enter)="useLogin()">
        </mat-form-field>
      </div>
      <div fxLayoutAlign="start center" fxLayoutGap="20px grid">
        <mat-icon>lock</mat-icon>
        <mat-form-field color="warn">
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="dataLogin.password" placeholder="contraseña"
              required (keyup.enter)="useLogin()">
            <button mat-icon-button matSuffix (click)="hide = !hide">
            </button>
        </mat-form-field>
        <div>
          <mat-icon (click)="hide = !hide"> {{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </div>
      </div>
    </div>
    <div fxLayoutAlign="center center">
      <button mat-raised-button class="button__login" [disabled]="dataLogin.username == null || dataLogin.password == null" color="warn" (click)="useLogin()">
          <mat-icon class="send-icon">lock_open</mat-icon>
          <span >Login</span>
      </button>
    </div>
    <p class="login__container--message">{{ message}}</p>
  </mat-card>
</div>







